*{
    transition: all ease 0.2s;
}
body{
    height: 210vh;
    background-color: rgb(90, 153, 95);
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navbar {
    z-index: 1000;
    width: 75%;
    height: 42px;
    border: solid black 2px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 2px;
    background-color: rgb(78, 174, 93);
    transition: all 0.2s ease;
    filter: brightness(96%);
}
.navbar:hover{
    transform: scale(1.004);
    box-shadow: -3px 2px 6px 2px black;
    filter: brightness(110%);
}

.btn-type{
    width: 10%;
    height: 60%;
    background-color: rgba(208, 223, 232, 0.449);
    border: 1px ridge rgb(93, 88, 116);
    border-radius: 3px;
}


.aside{
    z-index: 999;
    position: relative  ;
    top: 50px;
    float: right;
    width: 23%;
}

.favicon {
    width: 38px;
    transition: all ease 0.4s;
}
.favicon:hover {
    transform: rotate(360deg);
    
}
.container {
    width: 90%;
    height: 200vh;
    margin-top: 70px;
    border: black 1px solid; 
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding-top: 30px;
    gap: 20px;
}
.imgcontainer{
    display: flex;
    flex-direction: row;
    gap: 1%;
    width: 70%;
    height: 10%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 15px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.imgself{
    border-radius: 15px;
    width: 15%;
    height: 90%;
}
.flavors{
    width: 90%;
    margin: 0 auto;
    border-bottom: black 1px solid;
    border-top: black 1px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center ;
    gap: 20px;
    padding: 1%;
    
}

.images{
    width: 35%;
    height: 45%;
    border-radius: 15px;
    border: 2px solid white;
}
.flavortext{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.linkref{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.flavortext button{
    width: 30%;
    display: block;
    align-self: flex-end;
    border-radius: 6px;
    background-color: springgreen;
}
button:hover{
    transform: translateX(-2%);
}
